<section id="recipes">
  <div class="d-flex flex-row">
    <% recipes.each do |recipe| %>
      <div class="card my-5 mx-3 border-0 shadow-lg">
        <div class="card-header">
          <h3> <%= link_to recipe.title, recipe_path(recipe) %></h3>
          <% if !list.nil? && current_page?(list_path(list))%>
            <%= button_to 'Remover', method: :delete, class: 'btn btn-danger' %>
          <% end %>
        </div>
        <div class="card-body">
          <ul>
            <li>Tipo: <%= recipe.recipe_type.name %></li>
            <li>Tempo de preparo: <%= recipe.cook_time %> minutos</li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</section>